<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <meta name="twitter:card" content="summary">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/f408a441a0.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BTPSL4VJ85"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BTPSL4VJ85');
    </script>
  </head>
  <body id="anchor">
    <nav>
      <div class="side-menu-button-close">
          <i class="fa-solid fa-xmark fa-2xl"></i>
      </div>
      <div class="nav-contents">
        <a href="/">
          TOP
        </a>
        <a href="/setlist">
          SETLISTS
        </a>
        <a href="/song">
          SONGS
        </a>
        <a href="/counter">
          ZUTOMAYO COUNTER
        </a>
        <!--
        <a href="/counter">
          MY PAGE
        </a>
        -->
      </div>
    </nav>
    <div class="container">
      <header>
        <div class="side-menu-button">
            <i class="fa-solid fa-bars fa-xl"></i>
        </div>
        <div class="header-content">
          <a href="/">
            <h1>ZUTOMAYO DATABASE</h1>
          </a>
        </div>
        <div class="login_button">
          <!--
          <a href="#">
            <i class="fa-solid fa-right-to-bracket fa-xl"></i>
          </a>
          -->
        </div>
      </header>
      <main>
        <h2>ZUTOMAYO COUNTER</h2>
        <p>ライブで聴いた曲をカウントできます。<br>
          以下のリストから参加したライブを選択し、「カウントする」ボタンを押してください。<br>
          結果のツイート機能もあります。みんなで自慢しよう！
        </p>
        <form action="/counter/results" method="post">
          <button class="btn" type="submit">カウントする</button>
          <ul>
            <% contents.forEach((content) => { %>
            <% const date = new Date(content.liveDate);%>
            <% const str = `${date.getFullYear()}年${date.getMonth() + 1}月${date.getDate()}日`; %>
            <label for="checking<%= content.id %>">
              <li class="checkbox">
                <input id="checking<%= content.id %>" type="checkbox" name="liveId" value="<%= content.id %>">
                <div>
                  <h3><%= content.liveTitle %></h3>
                  <p><%= str %></p>
                  <p>@<%= content.hako.hakoName %></p>
                </div>
              </li>
            </label>
            <% }); %>
          </ul>
        </form>
        <a class="back" href="#anchor">上に戻る</a>
      </main>
      <footer>
        <div class="footer-content">
          <p>ZUTOMAYO DATABASE</p>
          <a href="https://twitter.com/ayu_nanet_sun">twitter</a>
          <a href="https://github.com/ayu1028">github</a>
        </div>
      </footer>
    </div>
    <script src="/javascripts/menu.js"></script>
  </body>
</html>
