<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <meta name="twitter:card" content="summary">
    <meta property="twitter:title" content="<%= title %>">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header-content">
          <a href="/">
            <h1>ZUTOMAYO DATABASE</h1>
          </a>
        </div>
      </header>
      <main>
        <div>
          <h2><%= lives.liveTitle %></h2>
          <% const date = new Date(lives.liveDate); %>
          <% const str = `${date.getFullYear()}年${date.getMonth() + 1}月${date.getDate()}日`; %>
          <p><%= str %></p>
          <p>@<%= lives.hako.hakoName %></p>
        </div>
        <h3>LIVE セットリスト</h3>
        <ul>
          <% songs.forEach((song) => { %>
          <li>
            <!--<a href="/song/<%= song.songId %>">-->
            <a href="#">
              <div>
                <h2><%= song.number %>. <%= song.song.songName %>
                  <% if(song.encoreFlag == 1) { %>
                    (アンコール)
                  <% } %></h2>
              </div>
            </a>
          </li>
          <% }); %>
        </ul>
      </main>
      <footer>
        <div class="footer-content">
          <p>ZUTOMAYO DATABASE</p>
          <a href="#">twitter</a>
          <a href="#">github</a>
        </div>

      </footer>
    </div>
  </body>
</html>
