<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/f408a441a0.js" crossorigin="anonymous"></script>
    <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BTPSL4VJ85"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BTPSL4VJ85');
    </script>
  </head>
  <body id="anchor">
    <nav>
      <div class="side-menu-button-close">
          <i class="fa-solid fa-xmark fa-2xl"></i>
      </div>
      <div class="nav-contents">
        <a href="/">
          TOP
        </a>
        <a href="/setlist">
          SETLISTS
        </a>
        <a href="/song">
          SONGS
        </a>
        <a href="/counter">
          ZUTOMAYO COUNTER
        </a>
        <!--
        <a href="/counter">
          MY PAGE
        </a>
        -->
      </div>
    </nav>
    <div class="container">
      <header>
        <div class="side-menu-button">
            <i class="fa-solid fa-bars fa-xl"></i>
        </div>
        <div class="header-content">
          <a href="/">
            <h1>ZUTOMAYO DATABASE</h1>
          </a>
        </div>
        <div class="login_button">
          <!--
          <a href="#">
            <i class="fa-solid fa-right-to-bracket fa-xl"></i>
          </a>
          -->
        </div>
      </header>
      <main>
<% let countSongs = []; %>
<% for(let i = 0; i < songsAll.length; i ++) { %>
<% countSongs[i] = { songName: songsAll[i].songName, special: songsAll[i].special, times: heardSongs.filter(n => n.songId === songsAll[i].id).length } %>
<% countSongs.sort((a, b) => b.times - a.times); %>
<% }; %>
<% const rand = Math.floor(Math.random()*countSongs.filter(n => n.times === countSongs[0].times).length);%>
        <h2>カウント結果</h2>
        <p>参加ライブ数：<%= lives %></p>
        <p>聴いた曲数(未公開曲除く)：<%= countSongs.filter(n => n.times !== 0 && n.special === 0).length %>／<%= songsAll.filter(n => n.special === 0).length %></p>
        <p>聴いた曲数(未公開・カバー含む)：<%= countSongs.filter(n => n.times !== 0).length %>／<%= songsAll.length %></p>
        <p>最も聴いている曲：<%= countSongs.filter(n => n.times === countSongs[0].times)[rand].songName %>
          (<%= countSongs.filter(n => n.times === countSongs[0].times)[rand].times %>回
          <% if(countSongs.filter(n => n.times === countSongs[0].times).length > 1 && countSongs[0].times !== 1) { %>
            、他<%= countSongs.filter(n => n.times === countSongs[0].times).length - 1 %>曲
            <% } %>)
        </p>
        <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet"
          data-size="large"
          data-text="参加ライブ数：<%= lives %>
聴いた曲数(未公開曲除く)：<%= countSongs.filter(n => n.times !== 0 && n.special === 0).length %>／<%= songsAll.filter(n => n.special === 0).length %>
聴いた曲数(未公開・カバー含む)：<%= countSongs.filter(n => n.times !== 0).length %>／<%= songsAll.length %>
最も聴いている曲：<%= countSongs.filter(n => n.times === countSongs[0].times)[rand].songName %>(<%= countSongs.filter(n => n.times === countSongs[0].times)[rand].times %>回<% if(countSongs.filter(n => n.times === countSongs[0].times).length > 1 && countSongs[0].times !== 1) { %>、他<%= countSongs.filter(n => n.times === countSongs[0].times).length - 1 %>曲<% } %>)
"
          data-hashtags="zutomayo_db,ずっと真夜中でいいのに。"
          data-url="https://zutomayo-database.herokuapp.com"
          data-related="twitterapi,twitter">
        Tweet
        </a>
        <h3>曲別聴いた回数ランキング</h3>
          <ul>
            <% countSongs.filter(n => n.times !== 0).forEach((songs) => { %>
            <li class="flexbox">
              <div>
                <h3><%= songs.songName %></h3>
              </div>
              <div class="count over10"><%= songs.times %></div>
            </li>
            <% }); %>
          </ul>
        </form>
        <a class="back" href="#anchor">上に戻る</a>
      </main>
      <footer>
        <div class="footer-content">
          <p>ZUTOMAYO DATABASE</p>
          <a href="https://twitter.com/ayu_nanet_sun">twitter</a>
          <a href="https://github.com/ayu1028">github</a>
        </div>
      </footer>
    </div>
    <script src="/javascripts/menu.js"></script>
  </body>
</html>
